
            <br  />
            <br  />
        <!-- footer class="bg-dark text-white pt-4" style="margin-bottom: 0%;">
            <div class="container">
                <div class="row text-md-start">
                    <div class="col-md-4 mb-4 text-center ">
                        <h5 class="fw-bold">Contáctanos</h5>
                        <p>Email: contacto@tuempresa.com</p>
                        <p>Teléfono: +1 (800) 123-4567</p>
                        <p>Dirección: Calle Ejemplo 123, Ciudad, País</p>
                    </div>

                    <div class="col-md-4 mb-4 text-center ">
                        <h5 class="fw-bold">Redes Sociales</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-reset text-decoration-none">Facebook</a></li>
                            <li>
                                <a href="#" class="text-reset text-decoration-none">Twitter</a></li>
                            <li>
                                <a href="#" class="text-reset text-decoration-none">Instagram</a></li>
                            <li>
                                <a href="#" class="text-reset text-decoration-none">LinkedIn</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 mb-4 text-center ">
                        <h5 class="fw-bold">Información</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-reset text-decoration-none">Términos y Condiciones</a></li>
                            <li><a href="#" class="text-reset text-decoration-none">Política de Privacidad</a></li>
                            <li><a href="#" class="text-reset text-decoration-none">FAQ</a></li>
                        </ul>
                    </div>
                </div>

                <hr class="border-light" />

                <div class="text-center py-2">
                    <small>© 2025 {{ data.titulo }}. Todos los derechos reservados.</small>
                </div>
            </div>
        </footer -->
    </body>
</html>
